		body {
		  margin: 0;
		  font-family: 'Muli', sans-serif;
		}

		#menu_button {
			font-weight: 100;
			background: #f1f7ef;
			width: 40px;
			height: 10%;
			left: -10px;
			padding-right: : 50px;
			position: fixed;
			z-index: 100;
			-webkit-box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 0px -3px 5px 0px rgba(0, 0, 0, 0.2);	  
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			color: #222;
			float : left;
			/*테두리 둥글게 해주는 코드 시작*/
			-webkit-border-radius: .5em;
  			-moz-border-radius: .5em;
 			border-radius: .5em;
 			/*테두리 둥글게 해주는 코드 끝*/
 			border: 1px solid black;
		}
		#menu_button #menu {
		  position: absolute;
		  top: 40%;
		  -webkit-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
		  transform: translateY(-50%);
		  transform: rotate(270deg);
		  
		  font-weight: 800;
		  font-size: 15px;
		}
		#menu_button #nav {
		  position: absolute;
		  top: 50%;
		  left: -130px;
		  -webkit-transform: translateY(10%);
		  -ms-transform: translateY(10%);
		  transform: translateY(10%);
		  font-weight: 100;
		}
		#menu_button #nav li {
		  padding-bottom: 30px;
		  list-style-type: none;
		}
		#menu_button #nav li a {
		  display: block;
		  text-decoration: none;
		  color: inherit;
		  transition: all 0.3s;
		  -webkit-transition: all 0.3s;
		}
		#menu_button #nav li a:hover {
		  color: #aaa;
		}     
		.show_menu{
			height: 100%;
			transform: translate3d(130px,0,0);
			animation-timing-function: 1s ease-in;
		}