.basic
{
	font-family: "맑은고딕";
	font-size: 15;
	margin:auto;
}
.terms_box
{
	border: 1px solid black;
	height: 200px;
	width: 400px;
	margin: 0.5em;
}
.column_name
{
	display: inline-block;
	width: 5em;
	height: 1em;
	margin:0.5em;
}
.column_contents
{
	display: inline-block;
	width: 20em;
	height: 1em;
	margin: 0.5em;
}
.basic_blue
{
	background-color: #244169;
	color: white;
}
.button
{
	text-align: center;
	border:solid black 1px;
	transition-property: background-color, color;
}
.button:hover
{
	transition-property: background-color, color;
	background-color: lightgrey;
	color:black;
}
.inline_block
{
	display: inline-block;
	margin: 1em;
}