.basic_setting
{
	margin: auto;
	font-size: 15px;
	font-family: "맑은고딕";	
}
#buttons
{
	float: left;
}
.buttons
{
	text-align: center;
	width: 8em;
	height: 2em;
	background-color: #cbdcf4;
	color: black;
	border: 1px solid black;
	font-size: 12px;
}
.my_info
{
	padding-top: 10px;
	padding-bottom: 20px;
	border: 1px solid grey;
}

.info{
	position: relative;
	transform: translate(70%,-60%);
	display: inline-block;
	border: 1px solid black;
	width: 200px;
	height: 300px;
	text-align: center;	
	
}
.goods{
	position: relative;
	transform: translate(60%,14%);
	display: inline-block;
	width: 300px;
	height: 300px;
}
.recently_viewed_goods{
	border: 1px solid black;
	margin-bottom: 20px;
}
.recently_purchased_goods{
	border: 1px solid black;
}
.class_viewed_goods1{
	border-bottom: 1px solid black;
}
.class_purchased_goods1{
	border-bottom: 1px solid black;
}
.goods_img{
	display: inline-block;
	margin: 10px;
	width: 100px;
}
.goods_name{
	display: inline-block;
}