.write_part{
	margin: 70px;
	text-align: center;
}
.title_text{
	margin: 10px auto;
	width: 800px;
	height: 20px;
}
.write_text{
	margin: 10px auto;
	width: 800px;
	height: 300px;
}
.ok_button{
	position: absolute;
	left: 42%;
	background: #244169;
	color: white;
	border: 1px solid black;
	margin: 20px;
}
.cancel_button{
	position: absolute;
	left: 48%;
	background: #244169;
	color: white;
	border: 1px solid black;
	margin: 20px auto;
}