#second_top{
	height: 70px;

}
#logo_img{
	width: 50px;
	height: auto;
	position: absolute;
	left: 30%;
}
#menu_button{
	float : left;
	border: 1px solid black;
	width: 20px;
	height: 20px;
}
#page_title
{
	font-size: 25px;
	position: absolute;
	left: 40%;
}
.inline_block
{
	display: inline-block;
	margin: 1em;
}