		.container{
            display: flex;
            flex-direction: column;
        }
		header div{
			float: right;
			margin-right: 30px;
		}
		header h1{
			text-align: center;
		}
		 .content{
            display:flex;
        }
         .content nav{
            border-right:1px solid gray;
        }
        .content aside{
            border-left:1px solid gray;    
        }
        nav, aside{
            flex-basis: 150px;
            flex-shrink: 0;
        }
        main{
        	padding: 10px;
        }
		table{
			display: flex;

		}
		th{
			background-color: skyblue;
		}
		#total{
			background-color: skyblue;
			border-top: 1px solid red;
			border-bottom: 1px solid red;
			margin-top: 10px;
		}
		#order{
			float: right;
			margin-top: 10px;
		}