.withdraw_info{
	font-size: 14px;
	width: 850px;
	margin: auto;
	margin-top: 30px;
}
.what_was_inconvenient{
	width: 850px;
	margin: auto;
}
.information_delete{
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
}
.information_keep{
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
}
.choose_reason{
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	font-size: 12px;
}
.ok_button{
	position: absolute;
	left: 40%;
	background: #244169;
	color: white;
	border: 1px solid black;
	margin: 10px;
}
.cancel_button{
	position: absolute;
	left: 48%;
	background: #244169;
	color: white;
	border: 1px solid black;
	margin: 10px auto;
}